ion-header {
    --background: #ffffff;
    margin-top:5px;
  }
  ion-item {
    --background: transparent;
    --border-color: transparent;
  }
  
  .title{
    margin-top: 2rem;
    margin-bottom: 2rem;
    h3 {
      
      margin-left: 4rem;
      font-weight: bold;
      color: #333333;
      
    }
  }
  
  
  
  
  