<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center;margin-left: -30px;">Password Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none" >
    <ion-label>Current Password </ion-label>
    <ion-item>
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-input [(ngModel)]="currentPassword" [type]="showCurrentPassword ? 'text' : 'password'" placeholder="Current Password"></ion-input>
      <ion-icon [name]="showCurrentPassword ? 'eye-outline' : 'eye-off-outline'" slot="end" (click)="togglePasswordVisibility('current')"></ion-icon>
    </ion-item>
    <ion-text color="danger" class="error-message" *ngIf="emptyCurrentPassword">Empty current password !</ion-text>
    <ion-text color="danger" class="error-message" *ngIf="wrongCurrentPassword">Wrong password !</ion-text>

    <p (click)="opensettingsmodal()" class="forgot-password">Forgot Password ?</p>

    <ion-label>New Password </ion-label>
    <ion-item style="margin-bottom: 12px;" [ngStyle]="!(emptynewPassword) ? {'margin-bottom': '12px'} : {}">
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-input [(ngModel)]="newPassword" [type]="showNewPassword ? 'text' : 'password'" placeholder="New Password"></ion-input>
      <ion-icon [name]="showNewPassword ? 'eye-outline' : 'eye-off-outline'" slot="end" (click)="togglePasswordVisibility('new')"></ion-icon>
    </ion-item>
    <ion-text color="danger" class="error-message" *ngIf="emptynewPassword">Empty new password !</ion-text>

    <ion-label>Confirm New Password </ion-label>
    <ion-item [ngStyle]="!(emptyconfirmPassword || wrongPassword) ? {'margin-bottom': '20%'} : {}">
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-input [(ngModel)]="confirmPassword" [type]="showConfirmPassword ? 'text' : 'password'" placeholder="Confirm New Password"></ion-input>
      <ion-icon [name]="showConfirmPassword ? 'eye-outline' : 'eye-off-outline'" slot="end" (click)="togglePasswordVisibility('confirm')"></ion-icon>
    </ion-item>
    <ion-text color="danger" class="error-message" *ngIf="emptyconfirmPassword" style="margin-bottom:20%;">Empty confirm password !</ion-text>
    <ion-text color="danger" class="error-message" *ngIf="wrongPassword" style="margin-bottom:20%;">passwords are not the same !</ion-text>

  </ion-list>

  <ion-button style="width: 84%; margin: 0 auto; display: block;" (click)="changePassword()">Change Password</ion-button>

  <!-- <ion-text color="danger" class="error-message" *ngIf="wrongPassword">Wrong Password. Try again or click Forget Password to reset it</ion-text> -->

  <ion-modal  id="settingsmodal" [initialBreakpoint]="0.48" [breakpoints]="[0.25, 0.5, 0.75]">
    <ng-template >
      <ion-content class="ion-padding">
        <div style="text-align: center;max-width: 400px;margin: auto;">
          <h2 style="margin-bottom: 35px;margin-top: 20px;">Forgot Password</h2>
          <p style="margin-bottom: 38px;">Enter your email for the verification process. We will send a 4-digit code to your email.</p>
          
          <ion-item [ngStyle]="!(emptyModalEmail || invalidStructureModalEmail) ? {'margin-bottom': '30px'} : {}">
            <ion-icon name="mail-outline" slot="start"></ion-icon>
            <ion-input [(ngModel)]="modalemail" placeholder="Email" type="email"></ion-input>
          </ion-item>
          <ion-text color="danger" class="error-message" *ngIf="emptyModalEmail" style="margin-bottom: 4px;">Empty email !</ion-text>
          <ion-text color="danger" class="error-message" *ngIf="invalidStructureModalEmail" style="margin-bottom: 4px;" >Invalid email structure !</ion-text>
      
          <ion-button style="width: 84%; margin: 0 auto; display: block;" (click)="sendVerificationCode()">Next</ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
  
  <ion-modal id="digits-modal" [initialBreakpoint]="0.48" [breakpoints]="[0.25, 0.5, 0.75]">
    <ng-template>
      <ion-content class="ion-padding">
        <div class="forgot-password-container">
          <h2 style="margin-bottom: 35px; margin-top: 20px;">Enter 4 Digits Code</h2>
          <p style="margin-bottom: 38px;">Enter the 4 digits code that you received on your email.</p>
          
          <div class="digit-inputs" [ngStyle]="!(wrongdigits) ? {'margin-bottom': '30px'} : {}">
            <input type="text" maxlength="1" (input)="focusNextInput($event, 0)" [(ngModel)]="digits[0]" class="digit-input">
            <input type="text" maxlength="1" (input)="focusNextInput($event, 1)" [(ngModel)]="digits[1]" class="digit-input">
            <input type="text" maxlength="1" (input)="focusNextInput($event, 2)" [(ngModel)]="digits[2]" class="digit-input">
            <input type="text" maxlength="1" (input)="focusNextInput($event, 3)" [(ngModel)]="digits[3]" class="digit-input">
          </div>
          <ion-text color="danger" class="error" *ngIf="wrongdigits" style="margin-bottom: 8px; margin-left: 12%; margin-top: 5px;">Invalid digits !</ion-text>

      
          <ion-button style="width: 84%; margin: 0 auto; display: block;" (click)="gotochangeepasswordmodal()">Next</ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>


  <ion-modal id="NewWPassword-modal"  [initialBreakpoint]="0.62" [breakpoints]="[0.25, 0.5, 0.75]">
    <ng-template >
      <ion-content class="ion-padding">
        <div class="forgot-password-container">
          <h2 style="margin-bottom: 35px;margin-top: 20px;">New Password</h2>
          <p style="margin-bottom: 38px;">Set the new password for your account so you can login and access all the features</p>

          <p style="margin-bottom: 3px;text-align: left;margin-left: 8px;">Enter your new password</p>
          <ion-item [ngStyle]="!(emptyModalPassword) ? {'margin-bottom': '20px'} : {}">
            <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
            <ion-input [(ngModel)]="modalpassword" [type]="showModalPassword ? 'text' : 'password'" placeholder="Password"></ion-input>
            <ion-icon [name]="showModalPassword ? 'eye-outline' : 'eye-off-outline'" slot="end" (click)="toggleModalPasswordVisibility()"></ion-icon>
          </ion-item>
          <ion-text color="danger" class="error-message" *ngIf="emptyModalPassword">Empty password !</ion-text>
          <p style="margin-bottom: 3px;text-align: left;margin-left: 8px;">Confirm password</p>
          <ion-item [ngStyle]="!(emptyModalConfirmPassword || wrongModalPassword ) ? {'margin-bottom': '20px'} : {}">
            <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
            <ion-input [(ngModel)]="modalConfirmPassword" [type]="showModalConfirmPassword ? 'text' : 'password'" placeholder="Password"></ion-input>
            <ion-icon [name]="showModalConfirmPassword ? 'eye-outline' : 'eye-off-outline'" slot="end" (click)="toggleConfirmPasswordVisibility()"></ion-icon>
          </ion-item>
          <ion-text color="danger" class="error-message" *ngIf="wrongModalPassword" >passwords are not the same !</ion-text>
          <ion-text color="danger" class="error-message" *ngIf="emptyModalConfirmPassword">Empty confirm password !</ion-text>
          <ion-button style="width: 84%; margin: 0 auto; display: block;" (click)="savee()">Save</ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
  

  
</ion-content>
