<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center;margin-left: -30px;">Language</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="language-list">
    <ion-radio-group [(ngModel)]="selectedLanguage">
      <ion-item *ngFor="let language of languages">
        <ion-label>{{ language.name }}</ion-label>
        <ion-radio slot="end" value="{{ language.code }}"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>
